@import "variables";
@import "mixins";

.flip-clock {
    font-family: $fc-font-family;
    font-size: 1rem;
    user-select: none;
    text-align: center;
    position: relative;
    width: 100%;
    display: inline-flex;
    box-sizing: border-box;
    align-items: flex-end;
    gap: 1em;

    .flip-clock-group {
        display: flex;
        flex-direction: column;

        & + .flip-clock-group {
            margin-left: 1rem;
        }

        .flip-clock-group-items {
            display: flex;
            align-items: stretch;
            gap: .3333em;
        }

        .flip-clock-label {
            text-transform: capitalize;
            margin-bottom: .5rem;

            &.flip-clock-meridium {
                font-size: 1.75em;
                line-height: 1.75em;
                top: 50%;
                left: 100%;
                flex: 0;
                width: auto;
                text-transform: uppercase;
                font-weight: 200;
                transform: translate(.5em, -50%);
            }
        }

        .flip-clock-card {
            width: $fc-face-width;
            height: $fc-face-height;
            position: relative;
            border-radius: .75rem;
            @include material-shadow(1);
            font-weight: bold;
            color: $fc-face-color;

            &:not(.animate) {
                .active .flip-clock-card-item-inner {
                    z-index: 4;
                }

                .flip-clock-card-item-inner {
                    .top,
                    .bottom {
                        &:after {
                            display: none;
                        }
                    }
                }
            }

            .flip-clock-card-item-inner {
                position: absolute;
                width: 100%;
                height: 100%;
            }

            &.animate {
                animation-delay: 500ms;
                animation-duration: 500ms;

                .flip-clock-card-item-inner {
                    perspective: 15em;
                }

                .top,
                .bottom,
                .active,
                .active > div,
                .before,
                .before > div {
                    animation-delay: inherit;
                    animation-fill-mode: forwards;
                    animation-duration: inherit;
                    animation-timing-function: ease-out;

                    &:after {
                        animation-duration: inherit;
                        animation-fill-mode: inherit;
                        animation-timing-function: inherit;
                    }
                }

                .before {
                    animation-delay: 0s;

                    .top {
                        animation-name: flip-top;
                    }

                    .top:after,
                    .bottom:after {
                        animation-name: show-shadow;
                    }
                }

                .active {
                    & > div {
                        animation-name: indexing;
                    }

                    .top:after,
                    .bottom:after {
                        animation-delay: calc(500ms * .15);
                        animation-name: hide-shadow;
                    }

                    .bottom {
                        animation-name: flip-bottom;
                    }
                }
            }

            .active {
                z-index: 2;
                
                .bottom {
                    z-index: 2;
                    transform-origin: top center;
                }
            }

            .before {
                z-index: 3;

                .top {
                    z-index: 2;
                    transform-origin: bottom center;

                    &:after {
                        background: linear-gradient(to bottom, rgba($fc-flip-shadow-color,.1) 0%, rgba($fc-flip-shadow-color,1) 100%);
                    }
                }

                .bottom {
                    &:after {
                        background: linear-gradient(to bottom, rgba($fc-flip-shadow-color,1) 0%, rgba($fc-flip-shadow-color,.1) 100%);
                    }
                }
            }

            .flip-clock-card-item-inner {
                position: absolute;
                width: 100%;
                height: 100%;
                // This is a hack to fix a webkit rendering issue that causes
                // a shift of a .5px or 1px. Leaving this until until further
                // notice.
                // https://stackoverflow.com/questions/24854640/strange-pixel-shifting-jumping-in-firefox-with-css-transitions
                // transform: rotateX(0.0001deg);

                &:first-child {
                    z-index: 2;
                }
                
                > .top,
                > .bottom {
                    width: 100%;
                    height: 50%;
                    overflow: hidden;
                    position: relative;
                    // backface-visibility: hidden;
                    font-size: $fc-face-font-size;
                    background: $fc-face-background;
                    box-shadow: inset 0 0 .2em rgba(#000,.5);

                    &:after {
                        content: " ";
                        display: block;
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        overflow: hidden;
                    }

                    &:before {
                        content: " ";
                        display: block;
                        width: 100%;
                        height: 1px;
                        position: absolute;
                    }
                }

                .top {
                    border-radius: .75rem .75rem 0 0;
                    line-height: calc($fc-face-height/$fc-face-font-size);

                    &:after {
                        border-radius: .75rem .75rem 0 0;
                    }

                    &:before {
                        background: $fc-face-background;
                        opacity: .4;
                        bottom: 0;
                    }
                }

                .bottom {
                    border-radius: 0 0 .75rem .75rem;
                    line-height: 0;

                    &:after {
                        border-radius: 0 0 .75rem .75rem;
                    }

                    &:before {
                        background: $fc-face-color;
                        opacity: .1;
                    }
                }
            }
        }
    }

    .flip-clock-divider {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: serif;
        color: #333;
        width: 1em;

        .flip-clock-divider-inner {
            font-size: 5em;
        }

    }

}

@keyframes indexing {
    0% {
        z-index: 2;
    }
    1% {
        z-index: 3;
    }
    100% {
        z-index: 4;
    }
}

@keyframes flip-bottom {
    0% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0);
    }
}

@keyframes flip-top {
    0% {
        transform: rotateX(0);
    }
    100% {
        transform: rotateX(-90deg);
    }
}

@keyframes show-shadow {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hide-shadow {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
